@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Italianno&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --primary-color: #030712;
  --primary-color-fade: rgb(43, 43, 139);
  --color-white: rgb(219, 217, 217);
  --primary-text: #fff;
  --secondary-color: rgb(212, 160, 82);
  --secondary-color-fade: rgba(234, 186, 114, 0.329);
  --font-family: "Playfair Display", serif;
}
* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

nav {
  width: 100%;
  z-index: 2;
  background: rgba(3, 7, 18, 0.774);
}
.navigation {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}
.logo img {
  height: 40px;
  width: fit-content;
  cursor: pointer;
}

.nav_items {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_items a {
  color: rgb(219, 217, 217);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}

.consultation_button div svg {
  color: var(--color-white) !important;
}

.consultation_button {
  display: flex;
  align-items: center;
  gap: 20px;
}
.consultation_button .button {
  background-color: var(--secondary-color);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  overflow: clip;
  cursor: pointer;
}
.consultation_button .button .button_text {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.consultation_button .button .hov_button {
  background-color: var(--color-white);
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.3s ease-in-out;
}
.consultation_button .button:hover {
  color: var(--secondary-color);
}
.consultation_button .button:hover .hov_button {
  width: 100%;
}
.menu {
  display: none;
}

/*hero section*/
.hero {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  padding: 10px 0px;
  padding-top: 15px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../RESOURCES/Photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  transform: scale(1.1);
  z-index: -1;
}
.hero_top {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 10px 18px;
  color: #fff;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 999px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  text-transform: capitalize;
  top: 80px;
  left: 90px;
}
.hero_top svg {
  color: var(--secondary-color) !important;
}

.hero_body {
  width: 90%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  position: relative;
  z-index: 1;
}
.hero_title {
  font-family: var(--font-family);
  font-size: 58px;
  font-weight: 600;
  line-height: 1.1;
  width: 50%;
  color: #fff;
}
.hero_description {
  max-width: 650px;
  line-height: 1.8;
  font-size: 17px;
  color: #d1d5db;
}
.hero_cta {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}
.hero_cta div {
  padding: 14px 28px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.hero_cta div p {
  position: relative;
  z-index: 2;
  margin: 0px;
  padding: auto;
  color: white;
}
.hero_cta div::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0.05;
  filter: blur(15px);
}
.hero_cta div:first-child {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.hero_button {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.hero_button button {
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  border-radius: 20px;
}
.hero_button .primary {
  padding: 15px 32px;
  border-radius: 35px;
  background-color: var(--secondary-color);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.primary svg {
  height: 20px !important;
  width: 20px !important;
}
.hero_button .second {
  padding: 15px 32px;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.08);
  color: var(--color-white);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 16px;
  font-weight: 700;
}

.cta {
  background-color: var(--primary-color);
  padding: 40px 0px;
  color: var(--color-white);
  border: 1x solid rgba(255, 255, 255, 0.12);
}
.cta_body {
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-weight: 600;
}
.cta_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta_content div {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-weight: 600;
}
.cta_content span {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.exp {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 80px 0px;
}
.exp_main {
  width: 90%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.exp_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.exp_sub {
  background-color: var(--secondary-color-fade);
  font-size: 18px;
  border-radius: 20px;
  width: fit-content;
  padding: 8px 20px;
  text-transform: capitalize;
  color: var(--secondary-color);
  font-weight: 600;
}
.exp_title {
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 600;
  color: var(--color-white);
  justify-content: center;
  display: flex;
}
.exp_desc {
  color: var(--color-white);
  font-size: 18px;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  line-height: 1.8;
}
.exp_card {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.exp_card_body {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  align-items: left;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.1);
  background-color: var(--primary-color-fade);
}
.exp_card_icon {
  background-color: var(--secondary-color-fade);
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  color: var(--secondary-color);
}
.exp_card_title {
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
}
.card_learn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--secondary-color) !important;
}
.card_desc {
  font-size: 14px;
  font-family: var(--font-family);
}

.card_learn svg {
  height: 20px !important;
  width: 20px !important;
}
.footer{
  background-color: var(--primary-color);
}
/* footer */
.footer_main{
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  gap: 20px;

}
.footer_social{
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer_social div{
  height: 30px;
  width: 30px;
  align-items: center;
  border-radius: 100%;
  background-color: var(--primary-color);
}
/* media query */
@media (max-width: 480px) {
  .navigation {
    padding: 12px 0px;
  }
  .logo img {
    height: 30px;
  }
  .nav_items {
    display: none;
  }
  .consultation_button {
    display: none;
  }
  .menu {
    display: block;
    color: var(--color-white);
    cursor: pointer;
  }
}
